extends layouts/securityLayout
block variables
  - var pageTitle = 'New Password'
block form
  .form__sign: .container
    .row
      .col.lg__4.md__4--offset.md__6.md__3--offset.sm__8.sm__2--offset
        h1 
          span New Password
          small
            svg(): use(xlink:href='#logo-icon')
        p.text__darkgrey From troubled dreams, he found himself transformed in phis bed into a horrible vermin.
        .form__row
          label New password
          input(type="password", placeholder="Enter your new password here")
        .form__row
          label Re-Enter new password
          input(type="password", placeholder="Re-Enter your new password here")
        .form__sign--ctrl
          .col.text__right: button.btn.cta(data-mds="success") submit


block modals
  .modal(data-modal="success" data-scrollbar="horizontal")
    .modal__backdrop(data-close="modal")
    .modal__confirm.wild
      svg.modal__confirm--back.text__success: use(xlink:href="#alert-success")
      button.close(data-close="modal"): svg(): use(xlink:href="#close-icon")
      .modal__confirm--body
        h2.text__success Success
        p.text__darkgrey From troubled dreams, he found himself transformed in his bed into a horrible vermin.
        strong.text__upper
          a.cta(href="") To dashboard